$col-dark: #061722;
$col-blu: #0a5a77;
$col-lblu: #81b5d1;
$col-lite: #d1cdc3;
$col-brown: #854c3b;

body {
  background: #ececec;
  font-family: 'Noto Sans', sans-serif;
  //font-family: 'Merriweather', serif;
  font-size: 14px;
  color: #000;
  min-width: 320px;
}

.container {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.dbl-dark {
  background: $col-dark;
}
.navbar-nav li>a{
  display: block;
}

.menu-top .navbar-nav {
  text-transform: uppercase;
  &.navbar-left li > a {
    //color: #fff;
    color: $col-lite;
    margin-right: 30px;
  }
  li > a:hover {
    background: #555;
    transition: background-color .5s;
  }
  &.navbar-right li > a {
    color: $col-lite;
    margin-left: 30px;
    margin-right: 0;
  }
}

.menu-top button {
  margin-left: auto;
  margin-right: 0;
  i {
    //color: #fff;
    color: $col-lite;
    font-size: 1.2em;
  }
}

.navbar-right {
  //margin-left: auto;
  margin-right: 0 !important;
}

.flag {
  margin-right: 3px;
  //position: relative;
  top: -5px;
}

.lands {
  background: #5c42b1;
  height: 50vh;
}

svg {
  height: 100%;
  width: 100%;
}

.svgline {
  fill: none;
  stroke: black;
  stroke-opacity: 0.05;
  stroke-width: 8;
  stroke-linejoin: round;
}

.svgland1 {
  fill: #fff;
  fill-opacity: 0.07;
}

.svgland2 {
  fill: #fff;
  fill-opacity: 0.12;
}

.svgland3 {
  fill: #fff;
  fill-opacity: 0.17;
}